#gallery {
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
}

#gallery li {
    width: 25%;
    list-style: none;
}

#gallery li img {
    width: 200px;
    height: 200px;
}

.ip {
    background-color: lightgray;
    margin: 20px 20px;
    font-size: x-large;
    border-radius: 10px;
}

.p {
    font-size: large;
}
