.button-slu{
    background-color: #D87C76;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    padding: 20px 20px;
    margin-top: 50%;
}

.solution_btn{
    text-decoration-line: none;
    color: white;
}